extends layout

block content
    .body
        .head
            h1#ootitle= title
        .position
            .wrapper
                .singletonResource
                    p Singleton Resource
                .whatIsThis
                    p Example: website name + /api/json/?category=ACTOR&year=1929&winner=true
                .collectiveResource
                    p Collective Resource
                    p Example: website name + /api/json/?category=Actor&winner=true

