extends layout

block content
    .body
        .head
            h1#SpecificTitleID #{SpecificTitle}
    div#movieDataID #{filteringFindings}

    script(type = module src='/javascripts/specificPage.js')

