extends layout


block content
    .body
        .head
            a(href='http://localhost:3000/')
                button.btn.Home HOME
            .body2
                h1#SpecificTitleID #{SpecificTitle}
                .position
                    .wrapper2
                        div#movieDataID(hidden='true') #{filteringFindings}
                        table#movieDataTable
                            tr
                                th#year-header Year
                                th#category-header Category
                                th#entity-header Entity
                                th#winner-header Winner
                                th#link-header Movie Link















    script(type = module src='/javascripts/specificPage.js')

