*{
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #000 !important;
  overflow: auto;
  background-image: url("../img/oaward.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
img{
  padding-top: 35px;
  object-fit: none;
  object-position: center;
  right: 50%;
}

.head #ootitle{
  background-image: linear-gradient(to right, transparent, #394431);
  height: 220px;
  width: 100vw;
  padding-bottom: 20px;
}

.chooseYear {
  font-size: 35pt;
  font-family: "Helvetica Neue";
  color: #9d9999;
  float: left;
  padding-bottom: 30px;

}
.position {
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}


.wrapper {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

.wrapper .search-input {
  width: 100%;
  font-family: "Helvetica Neue";
  font-size: 25px;
}

.search-input #searchbar-id {
  background: #000000;
  height: 55px;
  width: 100%;
  border-radius: 60px;
  border-color: #394431;
  border-width: 2px;
  padding: 0 60px 0 20px;
  font-size: 25px;
  color: #9d9999;
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
  outline: none;
}

.search-input .autocomplete-box {
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

.search-input.active .autocomplete-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocomplete-box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 60px;
  display: none;
}

.search-input.active .autocomplete-box li {
  display: block;
}

.autocomplete-box li:hover {
  background: #262626;
  border-radius: 30px;
}

.dropdowngroup select {
  text-align: center;
  font-family: "Helvetica Neue";
  padding: 0 60px 0 20px;
  font-size: 18pt;
  height: 55px;
  width: 100%;
  border-radius: 60px;
  border-width: 2px;
  background-color: black;
  color: #9d9999;
  border-color: #394431;
  outline: none;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.1);
}

#SearchButton {
  color: #9d9999;
  font-size: 40px;
  float: right;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 3px 3px #394431;
  padding: 0.4em 0.5em;
}

#select-category-text {
  font-size: 35pt;
  font-family: "Helvetica Neue";
  color: #9d9999;
  padding-top: 50px;
  padding-bottom: 30px;
  float: left;
}

.threeWay {
  margin: 100px 0;
}
.toggle_radio {
  position: relative;
  background: rgba(255,255,255,.1);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 318px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio] {
  display: none;
  /*position: fixed;*/
}
.toggle_radio label {
  font: 90%/1.618 "Source Sans Pro";
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 100px;
  height: 20px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider {
  /*display: none;*/
  /*background: red;*/
  width: 100px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider {
  background: rgba(80, 153, 3, 0.3);
  left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider {
  background: rgba(255,255,255,.3);
  left: 109px;
}
#third_toggle:checked ~ .toggle_option_slider {
  background: rgba(236, 4, 37, 0.42);
  left: 215px;
}

#SpecificTitleID {
  text-align: center;
  font-family: "Futura";
  margin: auto;
  padding: 10px;
  font-size: 50pt;
  color: #b19330;
  height: 200px;
  background-image: linear-gradient(to right, transparent, #394431);
}

#movieDataID {
  font-size: 35pt;
  font-family: "Futura";
  color: #9d9999;
  float: left;
  padding-bottom: 25px;
}

#winner {
  font-size: 15pt;
  color: #F9E29C;
  font-family: "Futura";
  text-align: center;
  position:relative;
  left: 440px;
  top: 150px;
  border-right: 5px solid;
  margin: 0;
}

#year {
  font-size: 15pt;
  color: #F9E29C;
  font-family: "Futura";
  text-align: center;
  position:relative;
  left: 550px;
  bottom:510px;
  border-left: 5px solid;
  margin: 0;
}

#entity {
  font-size: 15pt;
  color: #F9E29C;
  font-family: "Futura";
  text-align: center;
  position:relative;
  font-style: oblique;
  bottom: 500px;
  left: 1400px;
  margin: 0;

}


.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  position: relative;
  color: #b19330;
  top: 80px;
  right: 650px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {background: #eee;}
.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}






/*div {*/
/*  width: 300px;*/
/*  border: 15px solid green;*/
/*  padding: 50px;*/
/*  margin: 20px;*/
/*}*/
